:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --fill-customer-icons: #8e8f99;
  --footer-icons-active: #31d0aa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

/** RESET **/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* *** COMMON ACTION ** */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
  text-align: center;
}
.title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.simple-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/**--------------*HEADER*------------**/

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);

  margin-right: 76px;

  display: block;
  padding-bottom: 24px;
  padding-top: 24px;
}

.logo-end {
  color: var(--dark-color);
}

.header-list {
  display: none;
}

.address {
  display: none;
}

.header-container {
  display: flex;
}

.menu-open-btn {
  position: relative;

  background-color: transparent;
  width: 32px;
  height: 23px;

  margin-left: auto;
  margin-top: 24px;

  border-color: transparent;
}

.menu-btn-icon {
  top: 0;
  left: 0;
  stroke: var(--dark-color);
}

/**--------------HERO------------**/
.hero {
  background-color: var(--dark-color);
  padding-top: 112px;
  padding-bottom: 112px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/decoration_elements/hero_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/decoration_elements/hero_mob_2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white-color);
  margin-bottom: 72px;
  max-width: 320px;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-color);
}
/**------------ADVANTAGES---------- **/
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* SVG pictures */
.advantages-svg-container {
  display: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages-item {
  width: 100%;
}

.advantages-title {
  color: var(--dark-color);
}

/**-------PHOTOS OF WORK-------**/
.work {
  display: none;
}

/**----------CARDS OF OUR TEAM------- **/
.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background: var(--light-color);
}

.team > .container {
  max-width: 296px;
}

.team-title {
  font-weight: 700;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;

  justify-content: center;
}
.team-item {
  width: 264px;
  background: var(--white-color);
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
  padding: 32px 16px;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: var(--light-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--pressed-color);
}

/*  *----------Customers ------------* */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-soc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  row-gap: 72px;
}

.customers-soc-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fill-customer-icons);
  border: 1px solid var(--fill-customer-icons);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-soc-icon {
  fill: currentColor;
}

.customers-soc-link:hover,
.customers-soc-link:focus {
  border-color: var(--pressed-color);
  color: var(--pressed-color);
}
/* .customers-soc-link:hover .customers-soc-icon {
  color: var(--pressed-color);
  border-color: var(--pressed-color);
} */

/**-----------FOOTER--------- **/

.all-footer {
  padding-top: 96px;
  padding-bottom: 96px;

  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  background: var(--dark-color);
}
.footer-container {
  max-width: 268px;
  margin: 0;
  padding: 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);

  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-end {
  color: var(--light-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);

  text-align: left;
}

.footer-soc {
  justify-content: center;
  display: flex;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: var(--light-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--footer-icons-active);
}

.footer-subscribe {
  width: 100%;
}

.subscribe-title {
  justify-content: center;
  display: flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);

  margin-bottom: 16px;
}

.footer-input {
  width: 100%;
  display: block;

  height: 40px;

  outline: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;

  padding: 8px 16px;

  font-size: 12px;
  line-height: 2;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: var(--primary-color);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;

  letter-spacing: 0.04em;
  color: var(--white-color);
}

.btn-subscribe {
  display: flex;

  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;

  max-width: 165px;
  height: 40px;
  border: none;
  background: var(--primary-color);
  border-radius: 4px;

  padding: 8px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  fill: var(--white-color);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-subscribe {
  fill: var(--white-color);
  margin-left: 16px;
}

.btn-subscribe:focus,
.btn-subscribe:hover {
  background-color: var(--pressed-color);
}

/* !------- PAGE PORTFOLIO-------- */
/** ------------FILTERS-------------* */

.portfolio-content {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filters-list {
  flex-direction: row;
  display: flex;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  background: var(--light-color);
  cursor: pointer;
  padding: 8px 16px;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-btn {
  background-color: var(--pressed-color);
  color: var(--white-color);
  border-color: transparent;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--pressed-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}
/* *---------PORTFOLIO CARDS --------- * */

.service-card:not(:last-child) {
  margin-bottom: 48px;
}

.card-link:focus .card-cover-text,
.card-link:hover .card-cover-text {
  transform: translateY(0%);
}

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-cover-wrap {
  position: relative;
  overflow: hidden;
}

.card-cover-text {
  display: none;
}

.serv-card-footer {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ! ----MOB MENU -----! */

.mob-menu {
  display: none;

  position: fixed;
  top: 0;
  z-index: 100;

  overflow-y: scroll;

  width: 100%;
  height: 100%;
  background-color: #fff;

  flex-direction: column;

  justify-content: space-between;

  padding: 80px 35px 40px 40px;
}

.mob-menu.is-open {
  display: flex;
}

.menu-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  position: absolute;
  top: 24px;
  right: 24px;

  margin-left: auto;
  margin-bottom: 32px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  background-color: #fff;
  color: var(--dark-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-close:hover,
.menu-btn-close:focus {
  background-color: var(--pressed-color);
  color: var(--white-color);
  border: none;
}

.menu-btn-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 358px;
}

.mob-menu-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark-color);

  padding-left: 8px;
}
.current {
  color: var(--pressed-color);
}

.mob-menu-address {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-tel-link {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}

.mob-menu-address-item {
  margin-bottom: 48px;
}
.mob-menu-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.mob-menu.is-open .footer-soc-list {
  max-width: 328px;
  max-height: 40px;
  justify-content: space-between;
}

/* *******! MODAL VIEW!****** */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 90%;
  max-width: 392px;

  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 72px 16px 24px 16px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  cursor: pointer;

  background-color: #e7e9fc;
  color: var(--dark-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: var(--pressed-color);
  color: var(--white-color);
  border: none;
}

.modal-btn-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  color: #2e2f42;

  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  outline: transparent;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
  display: block;

  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--fill-customer-icons);
}

.user-comment {
  resize: none;

  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
}

.user-comment:focus {
  border-color: var(--primary-color);
}

.modal-field {
  margin-bottom: 8px;
}

.comment-field {
  margin-bottom: 16px;
}

.input-wrap {
  position: relative;
}

.input-wrap:focus-within .modal-input {
  border-color: var(--primary-color);
}

.input-wrap:focus-within .modal-icon {
  fill: var(--primary-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--fill-customer-icons);

  align-items: center;
  justify-content: center;
  flex-direction: baseline;
}

.check-box {
  display: inline-flex;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  align-items: center;
  justify-content: center;

  fill: transparent;

  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--primary-color);
  cursor: pointer;
  margin-left: 2px;
}

.check-field {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-check:checked + .check-text .check-box {
  background-color: var(--pressed-color);
  border: none;
  fill: var(--light-color);
}

.form-btn {
  min-width: 169px;
  height: 56px;
  margin: 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--primary-color);
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: block;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus,
.form-btn:hover {
  background-color: var(--pressed-color);
}
